* {

}

#join-template{
    display:flex;
}

#join-template, #img{
    flex: 2;
}
#join-template, #join-name{
    flex: 1;
}
#join-template, #join-input{
    flex: 2;
}
#join-template, #join-button{
    flex: 1;
}

#joinAgreeChk {
    height: 200px;
    width: 800px;
}

/* 마이페이지 - 내 정보 */
.info-area {
    display:flex;
}

.info-area-image {
    flex: 2;
}

.info-area-type {
    flex: 1;
}

.info-area-myinfo {
    flex: 2;
}

.info-area-button {
    flex: 1;
}

.highlight {
    color: #2467cb; /* 원하는 색상으로 변경 */
    font-weight: bold; /* 선택 사항: 글씨를 굵게 */
}

/* 마이페이지 - 비밀번호 변경 */
.changePwd-area {
    display:flex;
}

.changePwd-type {
    flex: 1;
}

.changePwd-input {
    flex: 2;
}

